body{
  margin: 0px;
  padding: 0px;
}

.heading{
  display: flex;
  margin: 13px;
}

.lower-box-span{
  display: flex;
  margin: 3px 13px;
    flex-direction: column;
    align-items: flex-start;
}

.numbers-txtarea{
  height: 80px !important;
}

.outer-box{
  min-width: 500px;
  width: 500px;
  height: 630px;
    top: 46%;
  border-style: solid;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    margin-top: -300px;
    z-index: 100;
    text-align: center;
    box-shadow: 5px 5px 20px #181818;
  background-color: #E5DDD5;
  font-family: Arial, Helvetica, sans-serif;
}

.top{
  background-color: #215E55;
  height: 50px;
}

textarea {
  resize: none;
  margin: 5px 10px 15px 10px;;
  height: 140px;
  border-radius: 5px;
  outline: thin;
  padding: 10px;
  font-size: 15px;
}

.upper-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.lower-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

hr{
  border-top: solid #bbb;
  width: 95%;
  border-radius: 5px;
}

.lowest{
  width: 100%;
  background-color: #215E55;
  height: 3px;
  position: absolute;
  bottom: 0px;
}

.send-btn{
  display: block;
    width: 25%;
    font-size: 17px;
    padding: 5px;
    margin: 27px auto;
    background-color: #215E55;
    color: white;
    border: none;
    border-radius: 3px;
}

.cancle-btn{
  background-color: red;
    outline: none;
    border: none;
    color: white;
    border-radius: 11px;
    font-size: larger;
    font-weight: bold;
    margin: 10px 460px;
    width: 21px;
}

.myfile{
  margin-top: 30px;
}

.mt-20{
  margin-top: 20px;
}

.radio-btn{
  display: flex;
  margin: 15px 10px 0px;
}

.file-box{
  display: none;
  width: 95%;
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.radio-lbl{
  margin: 0px 8px;
}

.caption{
  margin: 10px 0px 0px;
  width: 95%;
  height: 80px !important;
}

#media-file{
  margin: 18px 0px 0px;
}

.slct-file{
  margin-top: 5px;
}

#seprator{
  height: 35px;
  width: 70px;
  background-color: white;
  padding: 8px;
  margin: -9px 10px;
}

.spinner {
  display: none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #215E55;
  border-bottom: 16px solid #215E55;
  width: 25px;
  border-width: 5px;
  height: 25px;
  position: absolute;
  left: 45%;
  bottom: 5%;
  border-color: rgb(33, 94, 85) rgb(33, 94, 85) transparent;
  animation: 1s linear 0s infinite normal none running spin !important;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.blur {
  filter: blur(5px);
  background-color: white;
}

.m-10{
  margin: -10px;
}

.m-ten{
  margin: 10px;
}


.mt-10{
  margin-top: 10px;
}

.mt-15{
  margin-top: -15px;
}

#loadingSettingsDiv{
  height: 200px;
    width: 460px;
    top: 46%;
  border-style: solid;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    margin-top: -300px;
    z-index: 100;
    text-align: center;
    box-shadow: 5px 5px 20px #181818;
  background-color: #E5DDD5;
  font-family: Arial, Helvetica, sans-serif;
}

.settings-ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
}

.settings-ul li{
  font-size: 17px;
  padding: 10px;
}

.horizontal-line {
  position: absolute;
  bottom: 0%;
  margin: 0%;
  width: 100%;
  border: 1px solid #215E55;
}

.hr-top{
  top: 0%;
}

.hr-bottom{
  bottom: 0%;
}

.settings-cancle-btn{
  position: absolute;
  left: -30px;
  top: -5px;
}

.h-30{
  height: 30px;
}

.setting-svg{
  width: 20px;
}

/*#pane-side div._1SjZ2{
  filter: blur(5px);
  background-color: white;
}*/

.settings-ul-div{
  display: flex;
}

.downloadSavedContactsSpan{
  margin: 10px 10px 14px 0px;
}

#exportContacts{
  color: #919191;
  margin: 10px 10px 0px 0px;
}

.bulk-send-svg{
  margin: 5px 0px 0px;
}

.bulk-add-svg{
  width: 25px;
  height: 25px;
  margin-bottom: 4px;
}

.createGroupPopup{
  top: 46%;
  border-style: solid;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  margin-top: -300px;
  z-index: 100;
  text-align: center;
  box-shadow: 5px 5px 20px #181818;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  width: 320px;
  min-width: 320px;
  padding: 20px;
  height: 435px;
  align-items: flex-start;
  background-color: #E5DDD5;
}

#contactsSavedInPhone{
  margin: 15px auto;
  width: 93%;
}

.mt-15{
  margin-top: 15px;
}

.create-grp-btn{
  width: 30%;
  background-color: #215E55;
  color: white;
  padding: 10px;
}

.create-grp-cancle-btn{
  position: absolute;
  left: -129px;
  color: black;
  top: 2px;
  background-color: red;
  outline: none;
  border: none;
  color: white;
  border-radius: 11px;
  font-size: larger;
  font-weight: bold;
  margin: 10px 460px;
  width: 21px;
}

.mt-25{
  margin-top: 25px;
}

.grp-name{
  height: 20px;
  width: 93%;
  margin: 25px auto 0px;
}

.group-confirm-outer{
  background-color: #E5DDD5;
  width: 35%;
  padding: 5px 20px;
  position: absolute;
  top: 40%;
  left: 30%;
  right: 30%;
  height: 150px;
  z-index: 100;
  box-shadow: 5px 5px 20px #181818;
  font-family: Arial, Helvetica, sans-serif;
}

.grp-name-input{
  width: 98%;
  height: 25px;
}

.grp-save-cancle-btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

.confirm-btn{
  padding: 5px;
  margin-right: 5px;
}

#create-grp-cancle-btn{
  margin-right: 5px;
}

.blur{
  filter: blur(5px);
}

.grp-save-cancle-btn button{
  background-color: #399689;
  color: white;
  padding: 10px;
}

.d-flex{
  display: flex;
}

.import-grp-member-box{
  min-width: 400px;
  max-width: 400px;
    height: 370px;
  position: absolute;
  left: 35%;
  top: 20%;
  box-shadow: 5px 5px 20px #181818;
  z-index: 100;
  background-color: #E5DDD5;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#import-grp-member-textbox{
  height: 170px;
}

.btn-grp-div{
  display: flex;
  justify-content: flex-end;
}

.mr-5{
  margin-right: 5px;
}

.h-400{
  height: 400px !important;
}

#limitExceedMsg{
  color: #F45524;
  font-size: 15px;
  line-height: 1.1em;
}